.block-b-f
  button(type="button").js-block-b-f-close.btn-close.btn-close--theme-white.btn-close--size-sm.block-b-f__close
    svg.icon.btn-close__icon
      use(xlink:href='images/sprite.svg#close')
  picture.block-b-f__media
    img(src="images/block-b-f-1.jpg" alt="Выиграйте деньги!")
  a(href="#" target="_blank").block-b-f__link