footer.footer.site__footer
  .footer__top
    .container.footer__top-container
      .footer__top-col-aside.footer__top-col-aside--logo
        a(href="/").footer__top-logo
          img(src="images/logo-brand-type-1.svg" alt="Tscore")
        nav.u-nav.u-nav--main.footer__top-language
          ul.u-nav__list
            li.u-nav__item
              a(href="#").u-nav__link.is-active Ru
            li.u-nav__item
              a(href="#").u-nav__link En
      button(type="button").btn-router.btn-router--size-sm.btn-router--theme-gray.footer__top-scroll-to-top
        svg.icon.btn-router__icon
          use(xlink:href='images/sprite.svg#arrow-type-3')
      .footer__top-col-aside.footer__top-col-aside--sc
        .sc-block.sc-block--theme-gray.footer__top-sc-block
          ul.sc-block__list
            li.sc-block__item
              a(href="#" target="_blank").sc-block__link
                svg.icon.sc-block__icon
                  use(xlink:href='images/sprite.svg#facebook')
            li.sc-block__item
              a(href="#" target="_blank").sc-block__link
                svg.icon.sc-block__icon
                  use(xlink:href='images/sprite.svg#telegram')
            li.sc-block__item
              a(href="#" target="_blank").sc-block__link
                svg.icon.sc-block__icon
                  use(xlink:href='images/sprite.svg#twitter')
            li.sc-block__item
              a(href="#" target="_blank").sc-block__link
                svg.icon.sc-block__icon
                  use(xlink:href='images/sprite.svg#vk')
  .footer__bottom
    .container.footer__bottom-container
      .footer__bottom-privacy
        a(href="#") Пользовательское соглашение
      .footer__bottom-copyright Все права защищены © 2021 AiTNS