.block-b-f {
    transition: all .4s;
    position: relative;
    overflow: hidden;
    &.is-hidden {
        display: none;
    }
    &__close {
        @extend .area-click;
        position: absolute;
        top: 20rem;
        right: 20rem;
        z-index: 1;
    }
    &__media {
        transition: all .34s;
        position: relative;
        * {
            width: 100%;
            margin: 0;
            padding: 0;
            display: block;
        }
    }
    &:hover &__media {
        @media (min-width: $lg-mf) {
            opacity: .8;
            transform: scale(1.02);
        }
    }
    &__link {
        @extend .link-cover;
    }
}