.layout-events {
    padding: 32rem 0 120rem;
    @media (max-width: $lg) {
    }
    &__container {
    }
    &__list {
        &-card {
            & + & {
                margin-top: 64rem;
            }
        }
    }
    &__title {
        margin: 56rem 0 32rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: normal;
        font-size: var(--fs-9);
        color: $color-gray-1;
        &:before,
        &:after {
            background: linear-gradient(90deg, rgba(202,214,229, 0) 0%, #CAD6E5 100%);
            height: 1rem;
            content: '';
            flex-grow: 1;
        }
        &:after {
            transform: scaleX(-1);
        }
        span {
            margin: 0 16rem;
            flex-shrink: 0;
        }
    }
}