<!DOCTYPE html>
html(lang='ru')
  include includes/head.pug

  body

    #root.site
      .site__inner
        include includes/header-type-1.pug

        main(role="main").site__main
          .layout-page
            .container.layout-page__container
              .about-layout
                .row.about-layout__row
                  .row__col-8.about-layout__col.about-layout__col--main
                    .box.box--theme-white-gradient.box--mobile-full.about-layout__block
                      h2.about-layout__block-title Первая категория
                      .faq-card.about-layout__block-card
                        .faq-card__header
                          button(type="button").js-faq-card-toggle.faq-card__header-btn Первая тема
                          svg.icon.faq-card__header-icon
                            use(xlink:href='images/sprite.svg#arrow-type-4')
                        .faq-card__dropdown
                          .content.faq-card__text
                            p Успехи российских теннисистов в начале 2000-х вызвали небывалый рост популярности тенниса в России. С их лёгкой подачи интерес к теннису шагнул далеко за пределы столицы, формируя армию новых поклонников и устойчивый спрос на оперативную и достоверную информацию с мест теннисных событий. Однако решение вопроса её доставки обычными печатными средствами стало неактуальным. В России назревала цифровая революция.
                            img(src="images/faq-img-1.jpg")
                      .faq-card.about-layout__block-card
                        .faq-card__header
                          button(type="button").js-faq-card-toggle.faq-card__header-btn Вторая тема
                          svg.icon.faq-card__header-icon
                            use(xlink:href='images/sprite.svg#arrow-type-4')
                        .faq-card__dropdown
                          .content.faq-card__text
                            p Успехи российских теннисистов в начале 2000-х вызвали небывалый рост популярности тенниса в России. С их лёгкой подачи интерес к теннису шагнул далеко за пределы столицы, формируя армию новых поклонников и устойчивый спрос на оперативную и достоверную информацию с мест теннисных событий. Однако решение вопроса её доставки обычными печатными средствами стало неактуальным. В России назревала цифровая революция.
                            img(src="images/faq-img-1.jpg")
                      .faq-card.about-layout__block-card
                        .faq-card__header
                          button(type="button").js-faq-card-toggle.faq-card__header-btn Третья категория
                          svg.icon.faq-card__header-icon
                            use(xlink:href='images/sprite.svg#arrow-type-4')
                        .faq-card__dropdown
                          .content.faq-card__text
                            p Успехи российских теннисистов в начале 2000-х вызвали небывалый рост популярности тенниса в России. С их лёгкой подачи интерес к теннису шагнул далеко за пределы столицы, формируя армию новых поклонников и устойчивый спрос на оперативную и достоверную информацию с мест теннисных событий. Однако решение вопроса её доставки обычными печатными средствами стало неактуальным. В России назревала цифровая революция.
                            img(src="images/faq-img-1.jpg")
                      .faq-card.about-layout__block-card
                        .faq-card__header
                          button(type="button").js-faq-card-toggle.faq-card__header-btn Четвертая категория
                          svg.icon.faq-card__header-icon
                            use(xlink:href='images/sprite.svg#arrow-type-4')
                        .faq-card__dropdown
                          .content.faq-card__text
                            p Успехи российских теннисистов в начале 2000-х вызвали небывалый рост популярности тенниса в России. С их лёгкой подачи интерес к теннису шагнул далеко за пределы столицы, формируя армию новых поклонников и устойчивый спрос на оперативную и достоверную информацию с мест теннисных событий. Однако решение вопроса её доставки обычными печатными средствами стало неактуальным. В России назревала цифровая революция.
                            img(src="images/faq-img-1.jpg")
                      .faq-card.about-layout__block-card
                        .faq-card__header
                          button(type="button").js-faq-card-toggle.faq-card__header-btn Пятая категория
                          svg.icon.faq-card__header-icon
                            use(xlink:href='images/sprite.svg#arrow-type-4')
                        .faq-card__dropdown
                          .content.faq-card__text
                            p Успехи российских теннисистов в начале 2000-х вызвали небывалый рост популярности тенниса в России. С их лёгкой подачи интерес к теннису шагнул далеко за пределы столицы, формируя армию новых поклонников и устойчивый спрос на оперативную и достоверную информацию с мест теннисных событий. Однако решение вопроса её доставки обычными печатными средствами стало неактуальным. В России назревала цифровая революция.
                            img(src="images/faq-img-1.jpg")
                    .box.box--theme-white-gradient.box--mobile-full.about-layout__block
                      h2.about-layout__block-title Вторая категория
                      .faq-card.about-layout__block-card
                        .faq-card__header
                          button(type="button").js-faq-card-toggle.faq-card__header-btn Первая тема
                          svg.icon.faq-card__header-icon
                            use(xlink:href='images/sprite.svg#arrow-type-4')
                        .faq-card__dropdown
                          .content.faq-card__text
                            p Успехи российских теннисистов в начале 2000-х вызвали небывалый рост популярности тенниса в России. С их лёгкой подачи интерес к теннису шагнул далеко за пределы столицы, формируя армию новых поклонников и устойчивый спрос на оперативную и достоверную информацию с мест теннисных событий. Однако решение вопроса её доставки обычными печатными средствами стало неактуальным. В России назревала цифровая революция.
                            img(src="images/faq-img-1.jpg")
                      .faq-card.about-layout__block-card
                        .faq-card__header
                          button(type="button").js-faq-card-toggle.faq-card__header-btn Вторая тема
                          svg.icon.faq-card__header-icon
                            use(xlink:href='images/sprite.svg#arrow-type-4')
                        .faq-card__dropdown
                          .content.faq-card__text
                            p Успехи российских теннисистов в начале 2000-х вызвали небывалый рост популярности тенниса в России. С их лёгкой подачи интерес к теннису шагнул далеко за пределы столицы, формируя армию новых поклонников и устойчивый спрос на оперативную и достоверную информацию с мест теннисных событий. Однако решение вопроса её доставки обычными печатными средствами стало неактуальным. В России назревала цифровая революция.
                            img(src="images/faq-img-1.jpg")
                      .faq-card.about-layout__block-card
                        .faq-card__header
                          button(type="button").js-faq-card-toggle.faq-card__header-btn Третья категория
                          svg.icon.faq-card__header-icon
                            use(xlink:href='images/sprite.svg#arrow-type-4')
                        .faq-card__dropdown
                          .content.faq-card__text
                            p Успехи российских теннисистов в начале 2000-х вызвали небывалый рост популярности тенниса в России. С их лёгкой подачи интерес к теннису шагнул далеко за пределы столицы, формируя армию новых поклонников и устойчивый спрос на оперативную и достоверную информацию с мест теннисных событий. Однако решение вопроса её доставки обычными печатными средствами стало неактуальным. В России назревала цифровая революция.
                            img(src="images/faq-img-1.jpg")
                      .faq-card.about-layout__block-card
                        .faq-card__header
                          button(type="button").js-faq-card-toggle.faq-card__header-btn Четвертая категория
                          svg.icon.faq-card__header-icon
                            use(xlink:href='images/sprite.svg#arrow-type-4')
                        .faq-card__dropdown
                          .content.faq-card__text
                            p Успехи российских теннисистов в начале 2000-х вызвали небывалый рост популярности тенниса в России. С их лёгкой подачи интерес к теннису шагнул далеко за пределы столицы, формируя армию новых поклонников и устойчивый спрос на оперативную и достоверную информацию с мест теннисных событий. Однако решение вопроса её доставки обычными печатными средствами стало неактуальным. В России назревала цифровая революция.
                            img(src="images/faq-img-1.jpg")
                  .row__col-4.about-layout__col.about-layout__col--aside
                    aside.box.box--theme-white.about-layout__aside
                      .about-layout__aside-title Не нашли ответа?
                      .color-green.about-layout__aside-subtitle Задайте вопрос нам!
                      form(action="#").about-layout__aside-form
                        .input-area-el.about-layout__aside-form-login
                          input(type="email" name="email" required value="Kasbura@gmail.com")#faq-email.js-input-label.u-input.u-input--size-md.u-input--theme-white.u-input--type-input.input-area-el__input
                          label(for="faq-email").input-area-el__label Ваша эл. почта
                        .input-area-el.about-layout__aside-form-message
                          textarea(name="message" required style="min-height: 120rem;")#faq-message.js-input-label.u-input.u-input--size-md.u-input--theme-white.u-input--type-textarea.input-area-el__input
                          label(for="faq-message").input-area-el__label Ваш вопрос
                        button(type="submit").btn.btn--size-md.btn--theme-accent.about-layout__aside-form-btn
                          span.btn__inner
                            span.btn__title Отправить

        include includes/footer.pug
    include includes/foot.pug
    script.
      // Отримуємо всі елементи кнопок "Переключити карточку"
      const toggleButtons = document.querySelectorAll('.js-faq-card-toggle');

      // Додаємо обробник події для кожної кнопки "Переключити карточку"
      toggleButtons.forEach(function(button) {
        button.addEventListener('click', function() {
          // Знаходимо батьківський елемент кнопки - .faq-card
          const card = button.closest('.faq-card');
          
          // Перевіряємо, чи має карточка клас .is-show
          const isCardShown = card.classList.contains('is-show');
          
          // Закриваємо всі карточки
          toggleButtons.forEach(function(btn) {
            btn.closest('.faq-card').classList.remove('is-show');
          });
          
          // Відкриваємо або закриваємо поточну карточку в залежності від стану
          if (!isCardShown) {
            card.classList.add('is-show');
          }
        });
      });
