<!DOCTYPE html>
html(lang='ru')
  include includes/head.pug

  body

    #root.site
      .site__inner

        div
          <button class="js-modal-login">login</button>
          <button class="js-modal-register">register</button>
          <button class="js-modal-reset">reset</button>
          <button class="js-modal-change-password">change password</button>
          <button class="js-modal-change-email">change email</button>
          <button class="js-modal-referral">referral</button>
          <button class="js-modal-register-access">register access</button>
          <button class="js-modal-referral-access">referral access</button>
          <button class="js-modal-faq-access">faq access</button>
          <button class="js-modal-premium">premium</button>

    include includes/modal.pug

    script(src="js/tingle.js?v=568532623346")
    script.
      // modal init
      var modalLogin = new tingle.modal ({
        cssClass: ['u-modal', 'u-modal--size-sm', 'u-modal--theme-white']
      });

      var modalLoginBtns = document.querySelectorAll('.js-modal-login');

      modalLoginBtns.forEach(function(btn) {
        btn.addEventListener('click', function() {
          modalLogin.open();
        });
      });

      modalLogin.setContent(document.querySelector('.u-modal--login').innerHTML);
      
      // modal init
      var modalRegister = new tingle.modal ({
        cssClass: ['u-modal', 'u-modal--size-sm', 'u-modal--theme-white']
      });

      var modalRegisterBtns = document.querySelectorAll('.js-modal-register');

      modalRegisterBtns.forEach(function(btn) {
        btn.addEventListener('click', function() {
          modalRegister.open();
        });
      });

      modalRegister.setContent(document.querySelector('.u-modal--register').innerHTML);

      function switchWindows(e) {
        e.preventDefault();

        var target = e.target;
        var isRegisterActive = target.classList.contains('js-modal-register');

        if (isRegisterActive) {
          modalLogin.close();
          modalRegister.open();
        } else {
          modalLogin.open();
          modalRegister.close();
        }
      }

      var navLinks = document.querySelectorAll('.u-modal__router a');
      navLinks.forEach(function(link) {
        link.addEventListener('click', switchWindows);
      });

      var modalLoginClose = document.querySelectorAll('.js-change-password-inner');

      modalLoginClose.forEach(function(btn) {
        btn.addEventListener('click', function() {
          modalLogin.close();
        });
      });

      // modal init
      var modalReset = new tingle.modal ({
        cssClass: ['u-modal', 'u-modal--size-sm', 'u-modal--theme-white']
      });

      var modalResetBtns = document.querySelectorAll('.js-modal-reset');

      modalResetBtns.forEach(function(btn) {
        btn.addEventListener('click', function() {
          modalReset.open();
        });
      });

      modalReset.setContent(document.querySelector('.u-modal--reset').innerHTML);

      // modal init
      var modalChangePassword = new tingle.modal ({
        cssClass: ['u-modal', 'u-modal--size-sm', 'u-modal--theme-white']
      });

      var modalChangePasswordBtns = document.querySelectorAll('.js-modal-change-password');

      modalChangePasswordBtns.forEach(function(btn) {
        btn.addEventListener('click', function() {
          modalChangePassword.open();
        });
      });

      modalChangePassword.setContent(document.querySelector('.u-modal--change-password').innerHTML);

      // modal init
      var modalChangeEmail = new tingle.modal ({
        cssClass: ['u-modal', 'u-modal--size-sm', 'u-modal--theme-white']
      });

      var modalChangeEmailBtns = document.querySelectorAll('.js-modal-change-email');

      modalChangeEmailBtns.forEach(function(btn) {
        btn.addEventListener('click', function() {
          modalChangeEmail.open();
        });
      });

      modalChangeEmail.setContent(document.querySelector('.u-modal--change-email').innerHTML);

      // modal init
      var modalReferral = new tingle.modal ({
        cssClass: ['u-modal', 'u-modal--size-md', 'u-modal--theme-white']
      });

      var modalReferralBtns = document.querySelectorAll('.js-modal-referral');

      modalReferralBtns.forEach(function(btn) {
        btn.addEventListener('click', function() {
          modalReferral.open();
        });
      });

      modalReferral.setContent(document.querySelector('.u-modal--referral').innerHTML);

      // modal init
      var modalRegisterAccess = new tingle.modal ({
        closeMethods: ['overlay', 'escape'],
        cssClass: ['u-modal', 'u-modal--size-sm', 'u-modal--theme-white']
      });

      var modalRegisterAccessBtns = document.querySelectorAll('.js-modal-register-access');

      modalRegisterAccessBtns.forEach(function(btn) {
        btn.addEventListener('click', function() {
          modalRegisterAccess.open();
        });
      });

      modalRegisterAccess.setContent(document.querySelector('.u-modal--register-access').innerHTML);

      var modalRegisterAccessBtnsClose = document.querySelectorAll('.js-modal-btn-close-register-access');

      modalRegisterAccessBtnsClose.forEach(function(btn) {
        btn.addEventListener('click', function() {
          modalRegisterAccess.close();
        });
      });

      // modal init
      var modalReferralAccess = new tingle.modal ({
        closeMethods: ['overlay', 'escape'],
        cssClass: ['u-modal', 'u-modal--size-sm', 'u-modal--theme-white']
      });

      var modalReferralAccessBtns = document.querySelectorAll('.js-modal-referral-access');

      modalReferralAccessBtns.forEach(function(btn) {
        btn.addEventListener('click', function() {
          modalReferralAccess.open();
        });
      });

      modalReferralAccess.setContent(document.querySelector('.u-modal--referral-access').innerHTML);

      var modalReferralAccessBtnsClose = document.querySelectorAll('.js-modal-btn-close-referral-access');

      modalReferralAccessBtnsClose.forEach(function(btn) {
        btn.addEventListener('click', function() {
          modalReferralAccess.close();
        });
      });

      // modal init
      var modalFaqAccess = new tingle.modal ({
        closeMethods: ['overlay', 'escape'],
        cssClass: ['u-modal', 'u-modal--size-sm', 'u-modal--theme-white']
      });

      var modalFaqAccessBtns = document.querySelectorAll('.js-modal-faq-access');

      modalFaqAccessBtns.forEach(function(btn) {
        btn.addEventListener('click', function() {
          modalFaqAccess.open();
        });
      });

      modalFaqAccess.setContent(document.querySelector('.u-modal--faq-access').innerHTML);

      var modalFaqAccessBtnsClose = document.querySelectorAll('.js-modal-btn-close-faq-access');

      modalFaqAccessBtnsClose.forEach(function(btn) {
        btn.addEventListener('click', function() {
          modalFaqAccess.close();
        });
      });

      // modal init
      var modalPremium = new tingle.modal ({
        cssClass: ['u-modal', 'u-modal--size-mdm', 'u-modal--theme-white']
      });

      var modalPremiumBtns = document.querySelectorAll('.js-modal-premium');

      modalPremiumBtns.forEach(function(btn) {
        btn.addEventListener('click', function() {
          modalPremium.open();
        });
      });

      modalPremium.setContent(document.querySelector('.u-modal--premium').innerHTML);

      // tab init
      const tabBlocks = document.querySelectorAll('.js-tab-init');

      tabBlocks.forEach(tabBlock => {
        const tabLinks = tabBlock.querySelectorAll('.tab-link');
        const contentItems = tabBlock.querySelectorAll('.tab-block__content-item');

        tabLinks.forEach((tabLink, index) => {
          tabLink.addEventListener('click', () => {
            tabLinks.forEach(link => link.classList.remove('is-active'));
            contentItems.forEach(item => item.classList.remove('is-show'));

            tabLink.classList.add('is-active');
            contentItems[index].classList.add('is-show');
          });
        });
      });

      const tabLinksMobile = document.querySelectorAll('.js-tab-link-mobile');

      tabLinksMobile.forEach(tabLink => {
        tabLink.addEventListener('click', () => {
          tabLinksMobile.forEach(link => link.classList.remove('is-active'));

          tabLink.classList.add('is-active');

          const contentItem = tabLink.closest('.tab-block__content-item');

          const allContentItems = document.querySelectorAll('.tab-block__content-item');
          allContentItems.forEach(item => item.classList.remove('is-show'));

          if (contentItem) {
            contentItem.classList.add('is-show');
          }
        });
      });
