<!DOCTYPE html>
html(lang='ru')
  include includes/head.pug

  body

    #root.site
      .site__inner
        include includes/header-type-2.pug

        main(role="main").site__main
          .privacy-layout
            .container.privacy-layout__container
              h1.privacy-layout__title Пользовательское соглашение
              .privacy-layout__list
                .privacy-layout__list-card
                  .box.box--theme-white-gradient.box--mobile-full-md
                    .privacy-layout__list-card-title Условия обслуживания
                    .content.privacy-layout__list-card-text
                      p Настоящие Условия определяют порядок использования Клиентом онлайн-услуг компании AiTNS, вебсайта компании, доступного для скачивания пользовательского программного обеспечения («Клиентское ПО»), прочих предложений или функциональных средств, предоставляемых AiTNS, а также любых обновлений и письменной документации (совокупно с Клиентским ПО именуемых «Услуги»).
                .privacy-layout__list-card
                  .box.box--theme-white-gradient.box--mobile-full-md
                    .privacy-layout__list-card-title Учётная запись клиента
                    .content.privacy-layout__list-card-text
                      p Для получения доступа к Услугам и пользования таковыми Клиент должен создать учетную запись на сайте AiTNS.com. Клиент должен сохранять в секрете свой пароль и прочие данные Учетной записи и не разглашать их другим лицам в целях предотвращения несанкционированного доступа к учетной записи. Компания AiTNS не принимает на себя обязательств в связи с убытками или причинением ущерба, проистекающими из получения доступа к Учетной записи, ее содержанию или разглашения данных и использования такового. Если Клиент подозревает, что его Учетная запись был взломана, он должен незамедлительно уведомить об этом компанию по адресу support@AiTNS.com.
                .privacy-layout__list-card
                  .box.box--theme-white-gradient.box--mobile-full-md
                    .privacy-layout__list-card-title Правила поведения клиента
                    .content.privacy-layout__list-card-text
                      p Компания AiTNS вправе запретить доступ к Услугам и использование таковых, если Клиент причиняет вред, ущерб либо в ином порядке осуществляет деятельность, которая подрывает репутацию бренда, Услуг, компьютерных систем или сетей AiTNS, использует Услуги для передачи или распространения незаконных файлов или данных, использует Услуги для передачи или распространения материалов, защищенных правами на интеллектуальную собственность третьих лиц, за исключением случаев, когда Клиент владеет или обладает правами на такие материалы, использует Услуги для передачи или распространения материалов, содержащих вирусы, «троянские» программы, вредоносные программы-черви, поврежденные файлы или иное аналогичное ПО, которое может причинить ущерб оказанию Услуг либо компьютеру или имуществу других лиц, пользуется методами обратной инженерии, декомпилирует, дизассемблирует, модифицирует Услуги или создает производные продукты, изменяет или модифицирует механизм блокировки, который может быть включен в Услуги. В случае совместного использования лицензии на Услуги AiTNS оставляет за собой право заблокировать учетную запись.
                .privacy-layout__list-card
                  .box.box--theme-white-gradient.box--mobile-full-md
                    .privacy-layout__list-card-title Политика конфиденциальности
                    .content.privacy-layout__list-card-text
                      p Политика конфиденциальности определяет правила сбора и использования компанией Социальные технологии персонифицированных данных, запрашиваемых компанией при установлении Клиентом контакта с компанией Социальные технологии, посещении Клиентом сайта упомянутой компании или приобретении, лицензировании или использовании Услуг. Устанавливая соответствующее программное обеспечение, получая доступ к Услугам или пользуясь Услугами, Клиент явным образом разрешает сбор, обработку и использование своих персональных данных в соответствии с Политикой конфиденциальности.
                      p Личные данные. Компания AiTNS осуществляет сбор личной информации, имеющей отношение к подписке Клиента на услуги компании, включая имя Клиента, его почтовый адрес, номер телефона, электронный адрес, данные кредитной карты и некоторые неперсонифицированные данные с персонального компьютера Клиента, отражающие объем Услуг компании, используемых Клиентом, и настройки системы в этой связи, включая, помимо прочего, статистику по частоте запуска и завершения операций резервного копирования, параметры производительности и конфигурации. Компания не передает и не продает личной информации Клиента третьим лицам.
                      p Получение доступа к персональным данным и возможность редактирования данных. Клиент вправе обновлять свои персональные данные в личном кабинете на сайте Социальные технологии, защищенный паролем, вводя действительные реквизиты доступа.

        include includes/footer.pug
    include includes/foot.pug