<!DOCTYPE html>
html(lang='ru')
  include includes/head.pug

  body

    #root.site
      .site__inner
        include includes/header-type-2.pug

        main(role="main").site__main
          .layout-page
            .container.layout-page__container
              .profile-layout
                .row.profile-layout__row
                  .row__col-3.profile-layout__col.profile-layout__col--user
                    .box.box--theme-white
                      include includes/profile-nav.pug
                  .row__col-6.profile-layout__col.profile-layout__col--main
                    .box.box--theme-white.box--mobile-full
                      .profile-layout__main
                        .profile-layout__main-header
                          .title-sup.profile-layout__main-header-title
                            h1.title-sup__title Настройки
                        form(action="#").profile-layout__main-settings
                          .input-area-el.profile-layout__main-settings-login
                            input(type="text" name="login" required value="Kasbura" placeholder="Ваш ник")#settings-login.js-input-label.u-input.u-input--size-md.u-input--theme-white.u-input--type-input.input-area-el__input
                            label(for="settings-login").input-area-el__label Ваш ник
                          .select-el.select-el--theme-white-gray.select-el--size-md.profile-layout__main-settings-time
                            .select-el__label Ваш часовой пояс
                            .select-el__body
                              .select-el__selected
                                .select-el__dropdown-line
                                  .select-el__dropdown-line-title &nbsp;
                              ul.select-el__dropdown
                                li.select-el__dropdown-line
                                  .select-el__dropdown-line-title +1
                                li.select-el__dropdown-line
                                  .select-el__dropdown-line-title +2
                          .group-control.group-control--size-lg.profile-layout__main-settings-group
                            .group-control__inner
                              .group-control__item
                                button(type="button").btn.btn--size-sm.btn--theme-green-light.rating-layout__footer-btn-moore
                                  span.btn__inner
                                    span.btn__title Сменить пароль
                              .group-control__item
                                button(type="button").btn.btn--size-sm.btn--theme-green-light.rating-layout__footer-btn-moore
                                  span.btn__inner
                                    span.btn__title Сменить эл. почту
                  .d-lg-none.row__col-3.profile-layout__col.profile-layout__col--aside
                    .card-appeal.card-appeal--theme-gold.profile-layout__appeal-refferal
                      .card-appeal__inner
                        picture.card-appeal__picture
                          img(src="images/card-appeal-1.svg" alt="")
                        .card-appeal__body
                          .card-appeal__content
                            .card-appeal__title Приглашайте<br>друзей
                            .content.card-appeal__text
                              p Уловите свое руки мощные дохновениевкл адывает в ваши творческие инструменты
                            .card-appeal__refferal-link
                              | Реферальная ссылка:<br><a href="">Http://example/domen/offer1/yandex</a>
                          button(type="button").btn.btn--size-md.btn--theme-white-orange.card-appeal__btn
                            span.btn__inner
                              span.btn__title Пригласить по почте


        include includes/footer.pug
    include includes/foot.pug

    script(src='js/select.js?v=568532623346')

    script.
      // appeal close mobile
      const asideAppealBtnClose = document.querySelectorAll('.js-card-appeal-close');

      asideAppealBtnClose.forEach(button => {
        button.addEventListener('click', () => {
          const appeal = button.closest('.profile-layout__appeal-refferal');
          appeal.classList.add('is-hidden');
        });
      });